n8n/pipeline-workflow.json
{
  "name": "DE Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 6,
              "minute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pipeline:8001/pipeline/run",
        "options": {
          "timeout": 1800000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-02",
              "leftValue": "={{ $json.status }}",
              "rightValue": "noop",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.ALERT_FROM_EMAIL }}",
        "toEmail": "={{ $vars.ALERT_TO_EMAIL }}",
        "subject": "=DE Daily Pipeline Alert — {{ $('Run Pipeline').item.json.status || 'HTTP error' }}",
        "emailType": "text",
        "message": "=Pipeline run failed.\n\nTime: {{ $now.toISO() }}\nStatus: {{ $('Run Pipeline').item.json.status || 'HTTP error (non-2xx response)' }}\nDetail: {{ $('Run Pipeline').item.json.detail || $('Run Pipeline').item.json.error || 'No detail available' }}\n\nAdmin UI: http://localhost:8001/admin",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 180],
      "credentials": {
        "smtp": {
          "id": "smtp-credential",
          "name": "SMTP (configure me)"
        }
      }
    },
    {
      "parameters": {},
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Daily 6am": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
